header {
  z-index: 1000;
  position:fixed;
  background: $white;
  top: 0;
  width: 100%;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 80px;

    &.scroll {
      box-shadow: 0px 2px 22px $blackShadow;
    }

    @include maxWidth($breakPointDesktop) {
      padding: 12px 30px;
    }

    @include maxWidth($breakPointTablet) {
      padding: 16px 16px;
    }

    .logoMobile {
      display: none;

      @include maxWidth($breakPointTablet) {
        display: block;
      }
    }

    .button {
      background-color: $white;
      color: $blue;
      border: 1px solid $blue;

      &:hover {
        color: $white;
        border: 1px solid $white;
        background-color: $blue;
      }
    }

    .linkHeader {
      margin-right: 50px;
      color: $blue;
      border-bottom: 1px solid $white;

      @include maxWidth($breakPointDesktop) {
        margin-right: 15px;
      }

      &:hover {
        border-bottom: 1px solid $blue;
      }
    }
  }
}