.concept {
  display: flex;
  justify-content: space-between;
  max-width: 1020px;
  width: 100%;
  margin: 230px auto 0;
  padding: 0 80px;

  @include maxWidth($breakPointTablet) {
    padding: 0 16px;
    margin: 100px auto 0;
    flex-direction: column;
  }

  .description {
    max-width: 362px;
    width: 100%;

    @include maxWidth($breakPointTablet) {
      order: 1;
      margin: 0 auto;
    }

    .title {
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 1px;
      color: $blue;
      margin-bottom: 20px;

      @include maxWidth($breakPointTablet) {
        font-size: 18px;
        margin-top: 36px;
        margin-bottom: 16px;
      }
    }

    .text {
      margin-bottom: 51px;
      letter-spacing: 1px;

      @include maxWidth($breakPointTablet) {
        font-size: 14px;
      }

      @include maxWidth($breakPointTablet) {
        order: 2;
      }
    }
  }
  .container_robot {
    position: relative;

    .oeil-gauche {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #494646;
      position: absolute !important;
      left: 106px !important;
      top: 38px !important;
      z-index: 5;
      @include maxWidth($breakPointTablet) {
        display: none !important;
      }
    }

    .oeil-droit {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #494646;
      position: absolute !important;
      left: 145px !important;
      top: 38px !important;
      z-index: 5;
      @include maxWidth($breakPointTablet) {
        display: none !important;
      }
    }

    .robot {
      position: relative !important;
      display: inherit !important;

      @include maxWidth($breakPointTablet) {
        display: none !important;
      }
    }
      .robot_resp {
        display: none !important;

        @include maxWidth($breakPointTablet) {
          display: block !important;
        }
      }
  }
}


.separator {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  width: 100%;
  background-size: 100% 100%;
  height: 535px;

  @include maxWidth($breakPointMaxDesktop) {
    height: 535px;
    background-size: cover;
  }

  @include maxWidth($breakPointTablet) {
    height: 300px;
  }

  @include maxWidth($breakPointMobile) {
    height: 230px;
  }
}